.mat-button-toggle-group {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 10px; /* Adjust the margin as needed */
    border: none;
    position: relative;
    top: 10%;
  }