<!-- Link to blog page -->
<a [routerLink]="['/blog/1']">Blog</a>

<router-outlet></router-outlet>

<!-- Button to switch from login to registration-->
<!--Use ngSwitch to switch between components-->
<mat-button-toggle-group name="login-register" aria-label="Register or Login" [(ngModel)]="loginValue">
  <mat-button-toggle value="login">Login</mat-button-toggle>
  <mat-button-toggle value="register">Register</mat-button-toggle>
</mat-button-toggle-group>

<div  [ngSwitch]="loginValue">
  <app-login-page *ngSwitchCase="'login'"></app-login-page>
  <app-register-page *ngSwitchCase="'register'"></app-register-page>
</div>