[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
bcrypt = "*"
drf-spectacular = "*"
python-dotenv = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
